@import url(../../../../../css/styles.css);



/* Estilos para el formulario de registro */

.form__error {
  color: red;
  font-size: 0.9rem;
  display: block;
  margin-top: 5px;
}

.color-rojo {
  border: 1px solid red;
}

/* Estilos para el botón volver */
.volver {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
  
}
.volver__link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.conten_voler {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  
}
