@import url(../../../../../css/styles.css);



.serach_content{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
} 

.form__error {
  color: red;
  font-size: 0.9rem;
  display: block;
  margin-top: 5px;
}

.color-rojo {
  border: 1px solid red;
}
.cerrar-sesion {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.cerrar-sesion:hover {
  background-color: #d32f2f;
}