@import url(../../../../../css/styles.css);

.serach_content{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
} 

.form__error {
  color: red;
  font-size: 0.85rem;
  margin-top: 2px;
  display: block;
}
.color-rojo {
  border: 1px solid rgb(34, 31, 31) !important;
}

.cerrar-sesion {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.cerrar-sesion:hover {
  background-color: #d32f2f;
}
/* Estilos para el botón volver */
.volver {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
  
}
.volver__link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.conten_voler {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
}
